<div class="filterbuttons">
    <div class="iHateCSS argh">
        <a href="/filters"><p id="all" class="filterbutton small">View all</p></a>
        <a href="/filtersnone"><p id="all" class="filterbutton small">No Prizes</p></a>
        <a href="/filterscommended"><p id="commend" class="filterbutton small">Commend</p></a>
        <a href="/filtersbronze"><p id="bronze" class="filterbutton small">Bronze</p></a>
        <a href="/filterssilver"><p id="silver" class="filterbutton small">Silver</p></a>
        <a href="/filtersgold"><p id="gold" class="filterbutton small">Gold</p></a>
        <a href="/filterscorrr"><p id="corrr" class="filterbutton small">CORRR</p></a>
    </div>
    <div class="iHateCSS">
        <a href="/filtersbestOfShow"><p id="bestOfShow" class="filterbutton big">Best of Show</p></a>
        <a href="/filtersjunBestOfShow"><p id="junBestOfShow" class="filterbutton big"><span class="lgscreen">Junior Best of Show</span><span class="smscreen">Jr. Best of Show</span></p></a>
        <a href="/filterspeoplesChoice"><p id="peoplesChoice" class="filterbutton big">People's Choice</p></a>
        <a href="/filterssponsors"><p id="sponsors" class="filterbutton big">Sponsor Prizes</p></a>
    </div>
</div>