<div class="filterbuttons">
    <div class="iHateCSS">
        <a href="/filtersJuniors"><p id="Junior" class="filterbutton big">Juniors</p></a> <!-- don't @ me because of uppercase ID, it's due to camel case in the URL -->
        <a href="/filtersFigStandard"><p id="FigStandard" class="filterbutton big">Standard Figures</p></a>
        <a href="/filtersVroomStandard"><p id="VroomStandard" class="filterbutton big">Std. Vehicles</p></a>
        <a href="/filtersFigMasters"><p id="FigMasters" class="filterbutton big">Masters Figures</p></a>
        <a href="/filtersVroomMasters"><p id="VroomMasters" class="filterbutton big">Masters Vehicles</p></a>
        <a href="/filtersSpecial"><p id="Special" class="filterbutton big">Special prizes</p></a>
    </div>
</div>