<div class="filterbuttons">
    <div class="iHateCSS">
        <a href="/filtersstandard"><p id="standard" class="filterbutton big">Standard</p></a>
        <a href="/filtersmasters"><p id="masters" class="filterbutton big">Masters</p></a>
    </div>
</div>