<form action="/addEntryJudge" method="POST" id="inputForm" class="hidden judgeForm">
    <input type ="hidden" name="entryId" id="secretIdBox">
    <div id="forID">
    </div>
    <div>
        <span>Name:</span>
        <span id="name"></span>
    </div>
    <div id="competition"></div>
    <fieldset id="prizes" class="hidden">
        <div id="warning" class="hidden"></div>
        <input type ="hidden" name="category" id="category" value="VroomMasters">
        <%- include('judgingFormShared.ejs') %>
        <div id="bestOfShowStuff">
            <div class="checkboxOption">
                <input type="checkbox" id="mastersBestOfShow" name="mastersBestOfShow" onclick="checkIfTaken(this, 'mastersBestOfShow')">
                <label for="mastersBestOfShow" id="forMastersBestOfShow" class="adultsOnly">Masters BoS</label>
            </div>
        </div>

        
    </fieldset>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
<%- include('judgingShared.ejs') %>