<form action="/addEntryJudge" method="POST" id="inputForm" class="hidden judgeForm">
    <input type ="hidden" name="entryId" id="secretIdBox">
    <div id="forID">
    </div>
    <div>
        <span>Name:</span>
        <span id="name"></span>
    </div>
    <div id="competition"></div>
    <fieldset id="prizes" class="hidden">
        <div id="warning" class="hidden"></div>
        <input type ="hidden" name="category" id="category" value="Other">
        <div class="checkboxOption">
            <input type="checkbox" id="corrr" name="corrr" onclick="checkCORRR(this)">
            <label for="corrr" id="forCorrr">CORRR</label>
        </div>
        <div class="checkboxOption">
            <input type="checkbox" id="peoplesChoice" name="peoplesChoice" onclick="checkIfTaken(this, 'peoplesChoice')"> 
            <label for="peoplesChoice">People's Choice</label>
        </div>
        <div class="checkboxOption">
            <input type="text" id="sponsors" name="sponsors">
            <label for="sponsors"><span class="lgscreen">Sponsor Prize</span><span class="smscreen">Sponsors</span></label>
        </div>
    </fieldset>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
<%- include('judgingShared.ejs') %>