
<h1>FMS Results - Juniors</h1>

<%- include('medalThing.ejs') %>

<h2>Junior Best of Show</h2>

<div class="entries noborder">
    <%  for (let entry of info.filter(e => e.prizes.junBestOfShow)) {%>
        <div class="entry noborder" id=<%= entry.id %>>
            <div>
                <p class="savespace"><%= entry.fullName %></p>
            </div>
        </div>                  
    <% } %>
