<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
</head>

<body>
    <header>
        <img src="fms_logo.webp">
        <h1>Fen Model Show</h1>
    </header>
    <nav class = "titleNav">
        <% if (isAuthenticated) { %>
            <%- include('partials/navAuth.ejs') %>
        <% } else { %>
            <%- include('partials/navNoAuth.ejs') %>
        <% } %>
    </nav>
    <h2>Registration</h2>
    <ul>
        <li>Click "Add Entry" to add a participant</li>
        <li>If you make a mistake, click "Edit" - this makes all entries on the page clickable</li>
        <li>Click the desired entry and the form will reopen for you to make any corrections</li>
        <li>The form will tell you after submitting what ID was assigned to the participant</li>
    </ul>
    <h2>Judging</h2>
    <ul>
        <li>Categories are now Juniors, Standard Figures and Vehicles, Masters Figures and Vehicles</li>
        <li>Assign People's Choice, Sponsor Prizes and CORRR under "Other Prizes".</li>
        <li>All entries are clickable to open a form to flag them as judged and assign prizes</li>
        <li>Red means not judged, yellow means first pass, green means judged. (No colour coding on the "Other Prizes" tab.)</li>
        <li>Unique prizes like Best of Show cannot be awarded more than once, but all assigned prizes can be amended at any time.</li>
    </ul>
    <h2>Filters</h2>
    <ul>
        <li>These now correspond to the Judging categories. CORRR has moved to the special prizes.</li>
    </ul>
</body>