<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fen Model Show</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
</head>

<body>
    <header>
        <img src="fms_logo.webp">
        <h1>Fen Model Show</h1>
    </header>
    <nav class = "titleNav">
        <% if (isAuthenticated) { %>
            <%- include('partials/navAuth.ejs') %>
        <% } else { %>
            <%- include('partials/navNoAuth.ejs') %>
        <% } %>
    </nav>
    <footer>
        &copy;&nbsp;<a href="mailto:info@christina-milner.dev">Christina Milner</a>
    </footer>
</body>